doctype html
html(ng-app='gutHub', ng-controller='appControl')
  head
    title(ng-bind='pageTitle')
    <!-- bower:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- bower:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

  body
    #wrap
      .container
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
          <!-- Brand and toggle get grouped for better mobile display -->
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#foo')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href='#/home') gut-hub

          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(ng-class="{ active: $state.includes('home') }")
                a(ui-sref='home') Home
              li(ng-class="{ active: $state.includes('recipes') }")
                a(ui-sref='recipes.index') Recipes
              li(ng-class="{ active: $state.includes('about') }")
                a(ui-sref='about') About
              li
                a(href='https://github.com/tony-kerz/gut-hub-web#readme')
                  i.fa.fa-book  Doc
              li
                a(href='https://github.com/tony-kerz/gut-hub-web')
                  i.fa.fa-github-alt  Code
              li
                a(href='https://github.com/tony-kerz/gut-hub-web/issues')
                  i.fa.fa-comments  Issues
            ul.nav.navbar-nav.pull-right
              li.pull-right
                a(ng-if='currentUserId()', ng-click='logout()') logout [{{currentUserId()}}]
                a(ng-if='!currentUserId()', ui-sref='login') login

      .container(style='margin-top:40px')
        .fade(flash-alert, active-class='in alert')
          strong.alert-heading {{flash.type}} &nbsp;
          span.alert-message {{flash.message}}

      .container(ui-view='main', style='margin-top:-35px')

    #footer.footer
      #credit Powered by Kerz Creative
      div
        ul.social
          li: a(target='_blank', href='https://plus.google.com/u/2/+TonyKerz'): i.fa.fa-google-plus-square
          li: a(target='_blank', href='http://twitter.com/tony_kerz'): i.fa.fa-twitter-square
          li: a(target='_blank', href='http://linkedin.com/in/tonykerz'): i.fa.fa-linkedin-square
          li: a(target='_blank', href='http://tony-kerz.github.io'): i.fa.fa-github-square
