// may have to swap the next two lines depending on the theme:
// https://github.com/log0ymxm/bootswatch-scss#usage
//
@import "bootswatch-scss/cyborg/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootswatch-scss/cyborg/bootswatch";

@import 'variables';
@import 'layout';
@import 'about/about';
@import 'home/home';
@import 'recipe/index';

html, body { height: 100%; width: 100%; margin: 0; }

body {
  padding-top: 70px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;

  .page-title, .page-title-icon {
    color: $dark-grey;
    margin: 0;
  }

  span.logo {
    display: block;
    font-size: 14px;
    margin-top: -6px;
  }
}
