<!DOCTYPE html>
<html ng-app="gut-hub" ng-controller="app-ctrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tony_kerz">
    <meta name="twitter:title" content="gut-hub">
    <meta name="twitter:description"
          content="gut-hub rendition from o'reilly angular book: based on ng-boilerplate.">
    <meta name="twitter:creator" content="@tony_kerz">
    <meta name="twitter:image:src"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="gut-hub"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bit.ly/gut-hub"/>
    <meta property="og:image"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846"/>
    <meta property="og:description"
          content="gut-hub rendition from o'reilly angular book: based on ng-boilerplate.">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {
            "parsetags"
        :
            "explicit"
        }
    </script>
</head>
<body>


<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#foo">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">gut-hub</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--
                <li ui-route="/home" ng-class="{active:$uiRoute}">
                    <a href="#/home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                -->
                <li ng-class="{ active: $state.includes('home') }"><a ui-sref="home">Home</a></li>
                <!--
                <li ui-route="/about" ng-class="{active:$uiRoute}">
                    <a href="#/about">
                        <i class="fa fa-info-circle"></i>
                        What is it?
                    </a>
                </li>
                -->
                <li ng-class="{ active: $state.includes('recipes') }"><a ui-sref="recipes">Recipes</a></li>
                <li ng-class="{ active: $state.includes('about') }"><a ui-sref="about">About</a></li>
                <li>
                    <a href="https://github.com/tony-kerz/gut-hub-ui#readme">
                        <i class="fa fa-book"></i>
                        Read the Docs
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tony-kerz/gut-hub-ui">
                        <i class="fa fa-github-alt"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tony-kerz/gut-hub-ui/issues">
                        <i class="fa fa-comments"></i>
                        Support
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" ui-view="main"></div>

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <ul class="social">
                <!--
                <li><a target="_blank" href="http://gplus.to/kerz"><i class="fa fa-google-plus-square"></i></a></li>
                -->
                <li><a target="_blank" href="https://plus.google.com/u/2/+TonyKerz"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a target="_blank" href="http://twitter.com/tony_kerz"><i class="fa fa-twitter-square"></i></a></li>
                <li><a target="_blank" href="http://linkedin.com/in/tonykerz"><i class="fa fa-linkedin-square"></i></a>
                </li>
                <li><a target="_blank" href="http://tony-kerz.github.io"><i class="fa fa-github-"></i></a></li>
            </ul>


            <p>
                (c) 2013 tony kerz.
                <a href="http://github.com/tony-kerz/gut-hub-ui/fork_select">Fork this</a>
                if you have nothing better to do.
                <br/>
                <span class="h5">gut-hub-ui</span> <a class="text-muted"
                                                     href="http://github.com/tony-kerz/gut-hub-ui/blob/master/CHANGELOG.md">
                v<%= version %></a> is based on
                <a href="http://www.angularjs.org">AngularJS</a>,
                <a href="http://getbootstrap.com">Bootstrap</a>,
                <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
                <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>, and
                <a href="http://joshdmiller.github.io/ng-boilerplate/#/home">ng-boilerplate</a>.
            </p>
        </div>
    </div>
</footer>
</body>
</html>
